// @flow

// import React from "react";
// import { shallow } from "enzyme";
//
// import {{ name }} from "./";
//
// test("Renders", () => expect(
//     shallow(<{{ name }} content="Hello" />)
// ).toMatchSnapshot());

// test.todo("Renders");
