.progressList {
    margin-top:0.6em;
}

.done svg {
    fill: #66ca9b;
}

.done p {
    color: #000;
}

.default svg {
    fill: grey
}

.icon svg {
    float: left;
}

.icon p {
    float: left;
    margin-left: 0.4em;
}

.icon {
    width: 100%;
    height: 1.4em;
}