.status {
    padding:0.6em 0.4em;
    border: 1px solid #fff;
    border-radius: 4px 4px 0 0;
    text-align: center;
    border-bottom:0;
    background-image: linear-gradient(0deg, #e1b738, #fc3);
    border-color:#e6bd1e;
}

.status h3{
    margin-top: 0.143em;
    margin-bottom: -0.143em;
}

.publish {
    background-image: linear-gradient(0deg, #0eb87f, #14d997);
    border-color:#14ac79;
}

.publish h3 {
    color:#fff;
}

.progress-bar {
    height:0.286em;
    width:100%;
    margin-bottom:0.4em;
    border-top: 0;
    background:#c8c8c8;
    border-radius:0 0 4px 4px;
}

.progress-bar-item {
    width: 25%;
    height:0.286em;
    background:#3c80cf;
    float:left;
    border-radius: 0 4px 4px 4px;
}

.width-50 {
    width:50%;
}

.width-75 {
    width:75%;
}

.published {
    background:#14b780;
    width:100%;
    border-radius:0 0 4px 4px;
}